.estimator-card {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.estimator-card h3 {
    padding: 20px;
}

.estimator-card.selected {
    background: #dadada;
}

.card.mobileHoverFix {
    transition: all .1s ease-in-out;
    background: lightgray;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

.table-responsive {
    border-color: transparent;
}
