.vote-container {
    vertical-align: middle;
}

.vote {
    font-size: 18px;
    font-weight: bold;
}

.vote-controls {
    /*display: none;*/
}

.estimation {

}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}
