.vote-container {
    vertical-align: middle;
}

.vote {
    font-size: 18px;
    font-weight: bold;
}

.loading {
    animation: blinker 1s linear infinite;
}

.loading {
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #7ac29a,
                    #7ac29a 11px,
                    #42a084 10px,
                    #42a084 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

.player.away {
    opacity: 0.5;
}

.player .set_moderator {
    display: none;
    overflow: hidden;
    transition: display .25s;
}

.is-moderator .player:hover .set_moderator {
    display: block;
}
.player:hover.away .set_moderator {
    display: none;
}

.btn-deselect {
    display: none;
}
.is-moderator .btn-deselect {
    display: inline-block;
}
