<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <title>Estimator</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!--     Fonts and icons     -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="header">
      <%= partial "navigation.html", assigns %>
    </header>

    <section class="section section-nude">
      <div class="container">
        <%= if get_flash(@conn, :success) do %>
          <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
        <% end%>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end%>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </section>

    <section class="section section-dark-blue">
      <div class="container">
          <h3>Estimator</h3>
          <p>alpha</p>
      </div>
    </section>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <%= if @current_user do %>
        <script>
          const testUsers = {
            'adrian': {
                name: 'Adrian Philipp',
                avatar: 'https://avatars1.githubusercontent.com/u/133832?v=3',
            },
            'kermit': {
                name: 'Kermit the Frog',
                avatar: 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/004a15610ab5d48e91edfa63e227bf1533feb2d4_full.jpg',
            },
            'kitty': {
                name: 'Kitty',
                avatar: 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/004a4566c414858db6fd5db7ee1a9144203e2060_full.jpg',
            },
            'bean': {
                name: 'Mr. Bean',
                avatar: 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/004a29db404439f047138d5914e97bd13d3574cf_full.jpg',
            },
          };

          if (window.location.search) {
              const id = window.location.search.replace('?', '');
              window.current_user = {
                  id: id,
                  name: testUsers[id].name,
                  avatar: testUsers[id].avatar,
                  device: "<%= Browser.platform(@conn) %> <%= Browser.name(@conn) %> ",
              };
          } else {
              window.current_user = {
                  id: "<%= @current_user.id %>" + window.location.search,
                  name: "<%= @current_user.name %>",
                  avatar: "<%= @current_user.avatar %>",
                  device: "<%= Browser.platform(@conn) %> <%= Browser.name(@conn) %> ",
              };
          }

          window.board_id = "<%= @board_id %>";
        </script>
    <% end %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
