<div class="card">
    <div class="header">
        <h4 class="title">Team Members</h4>
    </div>
    <div class="content">
        <ul id="player-list" class="list-unstyled team-members"></ul>
        <div class="footer">
            <hr>
            <div class="stats" id="estimation">
                <!--<i class="ti-timer"></i> -->
                Currently logged in members.
            </div>
        </div>
    </div>
</div>
