<div class="card">
  <div class="header">
    <h4 class="title">Players</h4>
  </div>
  <div class="content">
    <ul id="player-list" class="list-unstyled"></ul>
    <div class="footer">
      <hr>
      <div class="stats">
        <!--<i class="ti-timer"></i> -->
        Currently logged in players
      </div>
  </div>

  </div>
</div>
